:host {
  display: block;
  margin-top: 1rem;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  padding: 15px;
}

input[type="file"] {
  visibility: hidden;
  margin-bottom: 20px;
}

.image-preview {
  width: 100%;
  margin: 1rem 0;
}

.image-preview img {
  width: 100%;
  object-fit: contain;
}
